<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up - TaskTrackr</title>
</head>
<body>
<h1>Sign Up</h1>

<div th:if="${error}" style="color:red;" th:text="${error}"></div>

<form th:action="@{/signup}" method="post">
  <div>
    <label for="username">Username:</label><br>
    <input id="username" name="username" type="text" required maxlength="20">
  </div>

  <div>
    <label for="email">Email:</label><br>
    <input id="email" name="email" type="email" required maxlength="50">
  </div>

  <div>
    <label for="name">Display Name:</label><br>
    <input id="name" name="name" type="text" maxlength="20">
  </div>

  <div>
    <label for="password">Password:</label><br>
    <input id="password" name="password" type="password" required>
  </div>

  <div style="margin-top: 10px;">
    <button type="submit">Create Account</button>
  </div>
</form>

<p style="margin-top: 15px;">
  Already have an account?
  <a th:href="@{/login}">Login here</a>
</p>
</body>
</html>
